@import '../../sass/main.scss';

.team {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333333;


  &__container {

    text-align: center;
    padding: 56px 20px 40px 20px;
    background-color: #FFFFFF;
    @include for-size(tablet) {
      padding: 48px 32px 40px 32px;
    }
  }

  &__preTitle {
    font-size: 16px;
    line-height: calc(22 / 16);
    @include for-size(tablet) {
      font-size: 18px;
      line-height: calc(25 / 18);
    }
    @include for-size(desktop) {
      font-size: 18px;
      line-height: calc(33 / 18);
    }
  }

  &__title {
    font-size: 32px;
    line-height: calc(44 / 32);
    margin-top: 16px;
    @include for-size(tablet) {
      font-size: 40px;
      line-height: calc(54 / 40);
    }
    @include for-size(desktop) {
      font-size: 40px;
      line-height: calc(48 / 40);
    }
  }

  &__text {
    font-size: 16px;
    line-height: calc(22 / 16);
    margin: 24px 39px 0 39px;
    @include for-size(tablet) {
      font-size: 18px;
      line-height: calc(25 / 18);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include for-size(tablet) {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 24px;
      margin-top: 24px;
    }
    @include for-size(desktop) {
      margin-top: 36px;
    }
  }
}

.itemCard {
  position: relative;
  cursor: pointer;
  grid-row-gap: 20px;
  list-style: none;
  box-shadow: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.03, 1.03);
    box-shadow: 0 0 8px 1px;
  }

  &:hover .itemCardOverlay,
  &:focus .itemCardOverlay {
    opacity: 1;
    background-color: rgba(04, 04, 04, 0.6);
  }

  &__content {
    margin-top: 16px;
    grid-column-gap: 18px;
  }

  &__name {
    font-size: 20px;
    line-height: calc(27 / 20);
    @include for-size(tablet) {
      font-size: 32px;
      line-height: calc(32 / 32);
    }
  }

  &__pos {
    margin-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: calc(22 / 16);
    @include for-size(tablet) {
      font-size: 18px;
      line-height: calc(25 / 18);
    }
  }
}

.itemCardOverlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.social__item {
  &:not(:last-child) {
    margin-right: 25px;
  }

  &_icon {
    fill: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      opacity: 0.8;
    }
  }

}

