@import '../../sass/main.scss';
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  &__container{
    display: block;
    @include for-size(tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

