@import '../../sass/main.scss';

.contact {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333333;

  &__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #F4F4F4;

    @include for-size(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 51px 20px 25px 20px;

    @include for-size(tablet) {
      padding: 32px;
    }
    @include for-size(desktop) {
      padding: 56px 28px 77px 20px;
    }
  }

  &__title {
    font-size: 32px;
    line-height: calc(48 / 32);

    @include for-size(tablet) {
      font-size: 40px;
      line-height: calc(54 / 40);
    }
  }
  &__form {
    margin-top: 31px;
  }
}
